/* Importação de fonte */
@import url('https://fonts.googleapis.com/css2?family=Bakbak+One&display=swap');

body {
    background-color: blueviolet;
}

/* Resetando regras do css */

* {
    margin: 0px;
    padding: 22px;
    outline: none;
    font-family: Bakbak One, sans-serif;
    font-size: 40px;
}

.git img{
    float: left;
    width: 15%;
    border: thin solid;
    padding: 5px;
    margin: 0px 10px 10px 0;
   }